@page "/contactus"

<h3>تماس با ما</h3>

<ul>
    <li>در صورت اشکال در نصب نرم افزار و یا دریافت کد فعالسازی با شماره 09132708341 مهندس عباس طبیبی تماس بگیرید</li>
    <li>در صورتی که سوال یا پیشنهادی علمی (در مورد نحوه محاسبه و نتایج نرم افزار) دارید لطفا با شماره تلفن 09133143127 دکتر مرتضی طبیبی در میان بگذارید</li>
    <li>    همچنین می توانید کلیه سوالات، پیشنهادات یا انتقادات خود را از طریق آدرس ایمیل tabibi890@gmail.com با ما در میان بگذارید</li>
</ul>