@page "/"
<h3 class="center">نرم افزار ارث</h3>

<img src="images/Erth03Software_Big.png" alt="تصویری از نرم افزار ارث" class="center" style="width: 90%;">

<section>
    <p></p>
    <h3 class="center">معرفی</h3>
    <p>
        یکی از مباحث مهم فقهی و حقوقی، مبحث ارث است که طلبه های علوم اسلامی و دانشجویان حقوق و فقه مبانی حقوق اسلامی، ملزم به فراگیری این مبحث می باشند همچنین وکلای دادگستری، قضات و روحانیون، به عنوان اشخاصی که مردم برای پاسخگویی به مسایل ارث و احیاناً تعیین سهم الارث ورثه و تقسیم ماترک فرد فوت شده، به ایشان مراجعه می نمایند، نیازمند اشراف کافی بر احکام شرعی و قوانین مربوط به ارث می باشند. با توجه استفاده از تکنولوژی های روز به ویژه نرم افزارهای کامپیوتری برای سرعت بخشیدن به انجام امور و کاهش ضریب خطا در محاسبه و همچنین مساعدت جهت آموزش بهتر مبحث ارث، این طرح پس از طی کردن مراحل قانونی تصویب شد که به موجب آن نرم افزار جامع علمی و کاربردی ارث که مستند به قانون مدنی ایران و نظر مشهور فقها می باشد، طراحی شد.
    </p>
    <p>
        این نرم افزار طی یک پروژه تحقیقاتی به مدیریت آقای دکتر مرتضی طبیبی استادیار گروه حقوق دانشگاه اصفهان و همکاری آقایان:
    
        <ul>
            <li>دکتر سید محمد صادق طباطبائی استادیار گروه حقوق دانشگاه اصفهان بعنوان همکار در پروژه</li>
            <li>دکتر سید امیر حسن منجمی استادیار گروه کامپیوتر دانشگاه اصفهان بعنوان همکار در پروژه</li>
            <li>مهندس عباس طبیبی کارشناس ارشد آموزشی و پژوهشی دانشگاه صنعتی اصفهان بعنوان طراح نرم افزار و برنامه نویس</li>
        </ul>

        در دانشگاه اصفهان در سال 1386 ایجاد گردید.
    </p>
    <p>
        این نرم افزار مورد تصويب کميته تخصصی گروه حقوق ، شورای آموزشی دانشکده علوم اداری و اقتصاد و شورای تحصيلات تکميلی دانشگاه اصفهان قرار گرفته است.
        نرم افزار جامع ارث در دو نسخه حرفه‌ای و علمی-آموزشی ارایه گردیده است.
        نرم افزار ارث در سال 1387 در پنجمین همایش استانی اهل قلم(در اصفهان) به عنوان اثر برگزیده بخش رسانه های دیجیتال انتخاب گردید و تندیس ویژه این بخش را به خود اختصاص داد.
        هم اکنون نسخه حرفه ای این نرم افزار در شوراهای حل اختلاف اکثر قریب به اتفاق استانهای کشور مورد استفاده  قرار گرفته است.
    </p>
</section>

<section>
    <h3 class="center">نسخه های مختلف نرم افزار ارث</h3>
    <ul>
        <li>نسخه حصر  وراثت(حرفه ای)</li>
        <li>نسخه علمی-کاربردی</li>
        <li>نسخه مخصوص ادارات ثبت اسناد و املاک کشور</li>
    </ul>
</section>