@page "/login"
@layout LoginLayout
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider

<h2 class="h2 font-weight-normal login-title">
    نرم افزار ارث- بخش مدیریت
</h2>

<EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="loginParameters">
    <DataAnnotationsValidator />
    <h4 class="font-weight-normal text-center">ورود</h4>

    <label for="inputUsername" class="sr-only">نام کاربری</label>
    <InputText id="inputUsername" class="form-control" @bind-Value="loginParameters.UserName" autofocus placeholder="نام کاربری" />
    <ValidationMessage For="@(() => loginParameters.UserName)" />

    <label for="inputPassword" class="sr-only">رمز عبور</label>
    <InputText type="password" id="inputPassword" class="form-control" placeholder="رمز عبور" @bind-Value="loginParameters.Password" />
    <ValidationMessage For="@(() => loginParameters.Password)" />

    <div class="form-check m-3">
        <InputCheckbox id="inputRememberMe" class="form-check-input" @bind-Value="@loginParameters.RememberMe" />
        <label class="form-check-label" for="inputRememberMe">بخاطر بسپار</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">ورود</button>
    <a class="btn btn-lg btn-success btn-block" href="/">ورود به بخش عمومی</a>

    <label class="text-danger">@error</label>

    @* <NavLink href="register">
        <h6 class="font-weight-normal text-center">Create account</h6>
    </NavLink> *@
</EditForm>

@code{
    LoginParameters loginParameters { get; set; } = new LoginParameters();
    string error { get; set; }

    async Task OnSubmit()
    {
        error = null;
        try
        {
            await authStateProvider.Login(loginParameters);
            navigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}