@page "/manageusers"

<h3 class="center">
    <a href="/admin"> <span class="oi oi-arrow-circle-right"></span> </a>
    مدیریت کاربران
</h3>

<div class="card">
  <div class="card-header">
      لیست کاربران 
  </div>
  <div class="card-body">
      لیست کاربران با امکان ویرایش و حذف آنها اینجا می آید
  </div>
  <div class="card-footer">
      <button class="btn btn-primary">کاربر جدید</button>
  </div>
</div>