@page "/purchase"
@inject HttpClient Http

<h3 class="center">خرید</h3>

<div class="card">
  <div class="card-body">
    <h5 class="card-title text-success">خرید مجوز نرم‌افزار ارث-نسخه علمی-کاربردی</h5>
    <p class="card-text">
        برای دریافت برچسب سی‌دی لطفا مبلغ
        @gheymat
        هزارتومان
        را به حساب شماره 
        @shomareHesab
        بانک ملی به نام عباس طبیبی جبلی
        واریز و رسید آنرا از طریق پیامک یا واتساپ به شماره
        @mobile
        ارسال فرمایید.
    </p>
    <p class="card-text">
        مشتریانی که نسخه‌ی قبلی نرم‌افزار را خریداری نموده‌اند 
        می‌توانند با همان برچسب قبلی نسخه‌ی جدید را فعالسازی کنند و نیازی به خرید
        مجوز جدید ندارند.
    </p>
    <p class="card-text">
        با داشتن این برچسب می‌توانید نرم‌افزار را حداکثر ۳۰ بار! بر روی 
        یک یا چند سیستم فعال کنید.
    </p>
    <p class="card-text">
        برای دانلود آخرین نسخه‌ی نرم‌افزار به صفحه 
        <a href="/download">دانلود</a>
         مراجعه کنید.
    </p>
    <p class="card-text">
        برای دریافت کد فعالسازی به روش دستی به صفحه 
        <a href="/registererth">درخواست کد فعالسازی</a>
         مراجعه کنید.
    </p>
  </div>
</div>



@code 
{
    int gheymat= 0;
    string shomareHesab = "0104351469001";
    string mobile = "09132708341";

    protected override async Task  OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        try
        {
            var settings = await Http.GetFromJsonAsync<Settings>("settings.json");
            gheymat = settings.Price;
        }
        catch (System.Exception err)
        {
            Console.WriteLine(err.ToString());
        }
    }

    public class Settings
    {
        public int Price { get; set; }
    }
}