@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">نرم افزار ارث</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> خانه
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="awards/award">
                <span class="iconify" data-icon="bi:award" data-inline="false"></span> جوایز
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="awards/govahi">
                <span class="iconify" data-icon="bi:award-fill" data-inline="false"></span> گواهینامه ها
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="registererth">
                <span class="iconify" data-icon="emojione:locked-with-key" data-inline="false"></span> درخواست کد فعالسازی
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="contactus">
                <span class="iconify" data-icon="ic:baseline-contact-phone" data-inline="false"></span> تماس با ما
            </NavLink>
        </li>
        <AuthorizeView>         
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="admin">
                        <span class="iconify" data-icon="ri:admin-fill" data-inline="false"></span> مدیریت
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="userprofile">
                        <span class="oi oi-person"></span> مشخصات کاربر
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link"  @onclick="@LogoutClick" style="cursor: pointer;">
                        <span class="iconify" data-icon="mdi:exit-run" data-inline="false"></span> خروج
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu () {
        collapseNavMenu = !collapseNavMenu;
    }

    async Task LogoutClick()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/");
    }
}
